name: jelkob

services:
  mariadb:
    image: mariadb:12
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_AUTO_UPGRADE: "true"
    volumes:
      - ./volumes/mariadb:/var/lib/mysql
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  registry:
    image: registry:3
    restart: unless-stopped
    ports:
      - "${REGISTRY_PORT:-5000}:5000"
    environment:
      OTEL_TRACES_EXPORTER: none
    volumes:
      - ./registry.config.yml:/etc/distribution/config.yml:ro
      - ./registry.htpasswd:/etc/distribution/htpasswd:ro
      - ./volumes/registry:/var/lib/registry
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  app:
    image: ghcr.io/jelka-fmf/jelkob:latest
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - "${DJANGO_PORT:-8000}:8000"
    environment:
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DJANGO_CORS_ORIGINS: ${DJANGO_CORS_ORIGINS}
      DJANGO_CSRF_ORIGINS: ${DJANGO_CSRF_ORIGINS}
      DATABASE_ENGINE: django.db.backends.mysql
      DATABASE_HOST: mariadb
      DATABASE_NAME: ${MARIADB_DATABASE}
      DATABASE_USER: ${MARIADB_USER}
      DATABASE_PASSWORD: ${MARIADB_PASSWORD}
      ROOT_URL: ${ROOT_URL}
      EDITOR_URL: ${EDITOR_URL}
      EDITOR_ACTION: ${EDITOR_ACTION}
      INACTIVITY_PING_TIMEOUT: ${INACTIVITY_PING_TIMEOUT}
      INACTIVITY_PATTERN_TIMEOUT: ${INACTIVITY_PATTERN_TIMEOUT}
      DRIVER_URL: ${DRIVER_URL}
      INTERACTION_URL: ${INTERACTION_URL}
      DISCORD_USERNAME: ${DISCORD_USERNAME}
      DISCORD_COLOR: ${DISCORD_COLOR}
      DISCORD_AVATAR: ${DISCORD_AVATAR}
      DISCORD_WEBHOOK: ${DISCORD_WEBHOOK}
    volumes:
      - ./volumes/static:/usr/src/app/static
      - ./volumes/uploads:/usr/src/app/uploads
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
