{% extends "frontend/base.html" %}

{% load i18n %}
{% load static %}
{% load macros %}

{% macro image path alt active %}
  <div class="carousel-item {% if active %}active{% endif %}">
    <img src="{% static path %}" alt="{{ alt }}" class="d-block w-100" loading="lazy" />
  </div>
{% endmacro %}

{% block title %}{% trans "About" %} – Jelka FMF{% endblock %}

{% block description %}{% trans "Basic information about the Jelka FMF project" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h2>{% trans "About Jelka FMF" %}</h2>
      <p>
        {% blocktrans trimmed %}
          At the <a href="https://www.fmf.uni-lj.si/" target="_blank">Faculty of Mathematics and Physics, University of
          Ljubljana</a>, as part of the <a href="https://programerski-klub-fmf.github.io/" target="_blank">FMF Programming
          Club</a>, we set up a programmable Christmas tree. The project was made possible with the sponsorship of
          <a href="https://abelium.si/" target="_blank">Abelium</a> and <a href="https://acex.si/" target="_blank">Acex</a>.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          The tree is located at the entrance of the building at
          <a href="https://www.google.si/maps/place/Jadranska+ulica+21,+1000+Ljubljana" target="_blank">Jadranska 21</a>
          and is lit from morning until the building closes.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          You can check the project's source code on <a href="https://github.com/Jelka-FMF" target="_blank">GitHub</a>.
        {% endblocktrans %}
      </p>

      <h2>{% trans "How it Works" %}</h2>
      <p>
        {% blocktrans trimmed %}
          Our tree consists of multiple components that work together to create a programmable Christmas tree. The tree
          itself is controlled by a Raspberry Pi, which continuously communicates with the main server to get the list
          of patterns to run. This program is called <a href="https://github.com/Jelka-FMF/Korenine" target="_blank">Korenine</a>.
          It cycles through the available patterns and runs them one by one in a Docker container. The patterns are
          containerized in the Docker container and can be written in any programming language that can write to the
          standard output. The program reads the output of the pattern and controls the lights on the tree accordingly
          using a library. The current state of the tree is also sent back to the server, where it is displayed on the
          simulation on the website.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          The main server, called <a href="https://github.com/Jelka-FMF/Jelkob" target="_blank">Jelkob</a>, hosts the
          project website, the pattern database, and the Docker registry. The website is written in Django and uses
          the Django REST framework for the API. Using the website, we can control which patterns are running on the
          tree and manually run them. The website also shows a list of available patterns, the current state of the
          tree, and the live simulation.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          The patterns themselves are written in various programming languages and are stored in the
          <a href="https://github.com/Jelka-FMF/Storzi" target="_blank">Storži</a> repository. Each pattern is
          packaged in a Docker container. The patterns can be written in any programming language that can write
          to the standard output, but we provide user-friendly libraries for popular languages like Python and
          JavaScript. Patterns can read 3D positions of the lights on the tree and control them accordingly by
          sending the desired colors to the standard output.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          To get the 3D positions of the lights on the tree, we recorded multiple videos of the tree from multiple
          angles while running a calibration pattern. We then extracted a 2D position for each light for each angle.
          Based on these 2D positions, we then calculated the 3D positions of the lights on the tree. This was done
          using our program called <a href="https://github.com/Jelka-FMF/Jelkulator" target="_blank">Jelkulator</a>.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          Another big part of the project is <a href="https://github.com/Jelka-FMF/Jelkly" target="_blank">Jelkly</a>,
          a Scratch-like visual programming tool that allows users to create their own patterns without any programming
          knowledge. Jelkly is written in TypeScript using the Microsoft's MakeCode (PXT) framework, which uses the
          Blockly library. It provides the 2D and 3D simulation of the tree which enable users to see how their pattern
          would look on the real tree. Patterns created in Jelkly can be directly submitted to the server, where we
          review them, convert them to JavaScript, and add them to the Storži repository, where they can run on the tree.
        {% endblocktrans %}
      </p>

      <h2>{% trans "Contributing Patterns" %}</h2>
      <p>
        {% blocktrans trimmed %}
          If you would like to contribute your own pattern for running on Jelka FMF and already have programming knowledge,
          please check out the <a href="https://github.com/Jelka-FMF/Storzi" target="_blank">Storži</a> repository that
          contains already-existing patterns and instructions for submitting your own patterns in various programming
          languages.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          If you would like to submit a pattern but do not have programming knowledge yet, you can check out
          <a href="https://jelkly.fmf.uni-lj.si/docs" target="_blank">Jelkly</a>, a Scratch-like visual programming tool
          for creating and submitting your own Jelka FMF patterns. It is easy to use even for beginners and people
          without programming knowledge, as it allows you to easily build programs using visual blocks.
        {% endblocktrans %}
      </p>
    </div>

    <div class="col-lg-4 pb-2">
      <div id="tree-gallery" class="carousel slide">
        <div class="carousel-inner">
          {% usemacro image "frontend/images/christmas-tree-01.jpg" _("Photo of the Jelka FMF Christmas tree") True %}
          {% usemacro image "frontend/images/christmas-tree-02.jpg" _("Photo of the Jelka FMF Christmas tree") %}
          {% usemacro image "frontend/images/christmas-tree-03.jpg" _("Photo of the Jelka FMF Christmas tree") %}
          {% usemacro image "frontend/images/christmas-tree-04.jpg" _("Photo of the Jelka FMF Christmas tree") %}
          {% usemacro image "frontend/images/christmas-tree-05.jpg" _("Photo of the Jelka FMF Christmas tree") %}
          {% usemacro image "frontend/images/christmas-tree-06.jpg" _("Photo of the Jelka FMF Christmas tree") %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#tree-gallery" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{% trans "Previous" %}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#tree-gallery" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{% trans "Next" %}</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'frontend/styles/about.css' %}" />
{% endblock %}

{% block extrabody %}
  <script src="{% static 'frontend/scripts/carousels.js' %}"></script>
{% endblock %}
