{% load i18n %}
{% load static %}
{% load macros %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>

{% macro title %}{% block title %}Jelka FMF{% endblock %}{% endmacro %}

{% macro navlink view name %}
  {% with current=request.resolver_match.url_name %}
    <li class="nav-item">
      <a
        class="nav-link {% if current == view %}active{% endif %}"
        {% if current == view %}aria-current="page"{% endif %}
        href="{% url view %}"
      >
        {{ name }}
      </a>
    </li>
  {% endwith %}
{% endmacro %}

<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% usemacro title %}</title>

    <meta name="theme-color" content="#0257d5" />
    <meta name="application-name" content="Jelka FMF" />
    <meta name="apple-mobile-web-app-title" content="Jelka FMF" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% usemacro title %}" />
    <meta name="twitter:image" content="{% static 'frontend/icons/social-icon-square.png' %}" />

    <meta property="og:title" content="{% usemacro title %}" />
    <meta property="og:site_name" content="Jelka FMF" />
    <meta property="og:image" content="{% static 'frontend/icons/social-icon-wide.png' %}" />

    <link rel="manifest" href="{% static 'frontend/site.webmanifest' %}" />

    <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'frontend/icons/favicon.svg' %}" />
    <link rel="apple-touch-icon" href="{% static 'frontend/icons/apple-touch-icon.png' %}" />

    <!-- This needs to be in head to prevent white flash -->
    <script src="{% static 'frontend/scripts/colors.js' %}"></script>

    <link rel="stylesheet" href="{% static 'frontend/styles/bootstrap.css' %}" />

    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg pb-4" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" id="navbar-brand" href="/">
          <img src="{% static 'frontend/icons/favicon.svg' %}" alt="Jelka FMF Logo" height="24" />
          Jelka FMF
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-content"
          aria-controls="navbar-content"
          aria-expanded="false"
          aria-label="{% trans 'Toggle navigation' %}"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% usemacro navlink "patterns" _("Patterns") %}
            {% usemacro navlink "about" _("About") %}
            {% usemacro navlink "admin:index" _("Management") %}
          </ul>
          <span class="navbar-text">
            {% if user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">{% trans "Log Out" %}</button>
            </form>
            {% else %}
              <form action="{% url 'login' %}" method="get">
              <button type="submit" class="btn btn-link nav-link">{% trans "Log In" %}</button>
            </form>
            {% endif %}
          </span>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

    <script src="{% static 'frontend/scripts/bootstrap.js' %}"></script>

    {% block extrabody %}{% endblock %}
  </body>
</html>
