{% load i18n %}
{% load static %}
{% load macros %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>

{% macro title %}{% block title %}Jelka FMF{% endblock %}{% endmacro %}
{% macro description %}{% block description %}{% trans "Christmas tree at the Faculty of Mathematics and Physics, University of Ljubljana" %}{% endblock %}{% endmacro %}

{% macro navlink view name %}
  {% with current=request.resolver_match.url_name %}
    <li class="nav-item">
      <a
        class="nav-link {% if current == view %}active{% endif %}"
        {% if current == view %}aria-current="page"{% endif %}
        href="{% url view %}"
      >
        {{ name }}
      </a>
    </li>
  {% endwith %}
{% endmacro %}

<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% usemacro title %}</title>

    <meta name="theme-color" content="#0a0c0d" />
    <meta name="application-name" content="Jelka FMF" />
    <meta name="apple-mobile-web-app-title" content="Jelka FMF" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="{% usemacro description %}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% usemacro title %}" />
    <meta name="twitter:description" content="{% usemacro description %}" />
    <meta name="twitter:image" content="{% static 'frontend/icons/social-icon-square.png' %}" />

    <meta property="og:title" content="{% usemacro title %}" />
    <meta property="og:site_name" content="Jelka FMF" />
    <meta property="og:description" content="{% usemacro description %}" />
    <meta property="og:image" content="{% static 'frontend/icons/social-icon-wide.png' %}" />

    <link rel="manifest" href="{% url 'manifest' %}" />

    <link rel="icon" type="image/x-icon" sizes="256x256" href="{% static 'frontend/icons/favicon.ico' %}" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'frontend/icons/favicon.svg' %}" />
    <link rel="apple-touch-icon" href="{% static 'frontend/icons/apple-touch-icon.png' %}" />

    <!-- This needs to be in head to prevent white flash -->
    <script src="{% static 'frontend/scripts/colors.js' %}"></script>

    <link rel="stylesheet" href="{% static 'frontend/styles/bootstrap.css' %}" />

    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg pb-4" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" id="navbar-brand" href="/">
          <img src="{% static 'frontend/icons/favicon.svg' %}" alt="Jelka FMF Logo" height="24" width="24" />
          Jelka FMF
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-content"
          aria-controls="navbar-content"
          aria-expanded="false"
          aria-label="{% trans 'Toggle navigation' %}"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% usemacro navlink "patterns" _("Patterns") %}
            {% usemacro navlink "about" _("About") %}
            {% usemacro navlink "contact" _("Contact") %}
            {% usemacro navlink "interaction" _("Interaction") %}
            {% usemacro navlink "admin:index" _("Management") %}
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link">{% trans "Log Out" %}</button>
                </form>
            {% else %}
              <form action="{% url 'login' %}" method="get">
                <button type="submit" class="btn btn-link nav-link">{% trans "Log In" %}</button>
              </form>
            {% endif %}
            </li>
            <li class="nav-item dropdown">
              <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% trans "Language" %}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <li>
                    <form action="{% url 'set-language' %}" method="post">
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="language"
                        value="{{ language.code }}"
                      />
                      <button
                        type="submit"
                        class="dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                      >
                        {{ language.name_local }} ({{ language.code }})
                      </button>
                    </form>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

    <script src="{% static 'frontend/scripts/bootstrap.js' %}"></script>

    {% block extrabody %}{% endblock %}
  </body>
</html>
