{% extends "frontend/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Contact" %} – Jelka FMF{% endblock %}

{% block description %}{% trans "Contact information for the Jelka FMF project" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h2>{% trans "Contact" %}</h2>
      <p>
        {% blocktrans trimmed %}
          If you are a student and have questions about the project or would like to contact people involved in the project,
          you can join the <a href="https://discord.gg/ccg4nKVR44" target="_blank">FMF Programming Club Discord server</a>
          and ask your questions in the <code>#jelka</code> channel.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans trimmed %}
          If you do not have a Discord account, or are a teacher at a school that is participating or would like to
          participate in the project, you can contact the project's coordinator,
          <a href="https://www.fmf.uni-lj.si/en/directory/742/bercic-katja/" target="_blank">Assist. Dr. Katja Berčič</a>.
        {% endblocktrans %}
      </p>

      <h2>{% trans "Developers" %}</h2>
      <p>
        {% blocktrans trimmed %}
          People who worked on the project:
        {% endblocktrans %}
      </p>
      <ul>
        <li>Filip Štamcar</li>
        <li>Jakob Kralj</li>
        <li>Vida Mlinar</li>
        <li>Barbara Makovec</li>
        <li>Bor Brudar</li>
        <li>Jošt Smrtnik</li>
        <li>Anton Luka Šijanec</li>
      </ul>
      <p>
        {% blocktrans trimmed %}
          ... and other members of the FMF Programming Club.
        {% endblocktrans %}
      </p>
    </div>

    <div class="col-lg-4 pb-2">
      <img
        src="{% static 'frontend/images/programming-club-members.jpg' %}"
        alt="{% trans 'Some members of the FMF Programming Club' %}"
        class="img-fluid"
        loading="lazy"
      />
    </div>
  </div>
{% endblock %}
