{% extends "frontend/base.html" %}

{% load i18n %}
{% load static %}
{% load banner %}

{% block content %}
  {% banner as banner %}
  <img
    src="{{ banner.src }}"
    alt="{{ banner.alt }}"
    class="banner rounded"
    loading="lazy"
  />

  <div class="main-container">
    <div class="content-section">
      <noscript>
        <p class="border border-secondary-subtle rounded p-3 mb-3">
          {% trans "Displaying the patterns requires JavaScript to be enabled. Please enable it." %}
        </p>
      </noscript>

      <div class="border border-secondary-subtle rounded p-2 mb-3">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="header-countdown">{% trans "Time" %}</th>
                <th class="header-name">{% trans "Name" %}</th>
                <th class="header-author">{% trans "Author" %}</th>
                {% if user.is_authenticated %}
                  <th class="header-actions">{% trans "Actions" %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="patterns"></tbody>
          </table>
        </div>
      </div>

      <p id="runner-inactive" class="d-none border border-secondary-subtle rounded p-3 mb-3">
        {% blocktrans trimmed %}
          The Christmas tree is currently sleeping. Visit us when it is active.
        {% endblocktrans %}
      </p>

      <p id="runner-active" class="d-none border border-secondary-subtle rounded p-3 mb-3">
        {% blocktrans trimmed %}
          The Christmas tree is running.
          Visit us and view it at the Faculty of Mathematics and Physics, University of Ljubljana.
        {% endblocktrans %}
      </p>

      {% url "about" as about_url %}

      <p class="border border-secondary-subtle rounded p-3 mb-0">
        {% blocktrans trimmed %}
          Read more about the tree or contribute your own patterns on <a href="{{ about_url }}">the about page</a>.
        {% endblocktrans %}
      </p>
    </div>

    <div class="simulation-section">
      <div class="simulation-container border border-secondary-subtle rounded">
        <canvas class="simulation-canvas" id="canvas"></canvas>
      </div>
    </div>
  </div>

  <template id="pattern-template">
    <tr>
      <td class="pattern-countdown"></td>
      <td class="pattern-name">
        <a class="pattern-name-link text-decoration-none text-reset" target="_blank"></a>
        <span class="pattern-name-text text-decoration-none text-reset"></span>
      </td>
      <td class="pattern-author"></td>
      {% if user.is_authenticated %}
        <td class="pattern-actions">
          <button class="btn btn-sm btn-outline-primary pattern-run-btn">{% trans "Run" %}</button>
          <button class="btn btn-sm btn-outline-primary pattern-enable-btn">{% trans "Enable" %}</button>
          <button class="btn btn-sm btn-outline-primary pattern-disable-btn">{% trans "Disable" %}</button>
        </td>
      {% endif %}
    </tr>
  </template>
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'frontend/styles/patterns.css' %}" />
{% endblock %}

{% block extrabody %}
  <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
  <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>

  <script src="{% static 'frontend/data/positions.js' %}"></script>

  <script
    src="{% static 'frontend/scripts/patterns.js' %}"
    defer
    data-is-authenticated="{{ user.is_authenticated }}"
    data-csrf-token="{{ csrf_token }}"
  ></script>

  <script
    src="{% static 'frontend/scripts/simulation.js' %}"
    defer
    data-driver-url="{{ settings.DRIVER_URL }}"
  ></script>
{% endblock %}
