.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0;
}

.content-section {
  flex: 2 1 60%;
  box-sizing: border-box;
  width: 100%;
}

.simulation-section {
  flex: 1 1 35%;
  box-sizing: border-box;
  width: 100%;
}

.table {
  margin-bottom: 0;
}

tr:last-child td {
  border-bottom: 0;
}

.header-countdown {
  width: 70px;
}

.header-name {
  width: 225px;
}

.header-author {
  width: 225px;
}

.header-actions {
  width: 175px;
}

.pattern-actions {
  padding: 0.3rem 0.5rem !important;
}

.pattern-actions > * {
  margin: 0.2rem 0 !important;
}

.active-pattern {
  font-weight: 700;
  --bs-table-color-state: var(--bs-table-color);
  --bs-table-bg-state: hsl(from var(--bs-table-bg) h s calc(l - 4));
}

.simulation-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  min-width: 80vw;
  width: 100%;
  top: 0;
}

@media (min-width: 420px) {
  .simulation-container {
    min-width: 380px;
  }
}

@media (prefers-color-scheme: dark) {
  .simulation-container {
    background-color: #0f1113;
  }
}

.simulation-canvas {
  width: 100%;
}

.banner {
  display: none;
}

@media (min-width: 1100px) {
  .banner {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: -15px;
    margin-bottom: 15px;
  }
}
